<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Character</title>
    <link rel="stylesheet" href="/style1.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <section class="hero">
        <div class="main-width">
            <header>
                <div class="logo">
                    <h2><a href="#">CDTI</a></h2>
                </div>

                <nav>
                    <ul>
                        <li class="active"><a href="#"><i class="fa-solid fa-user"></i>Character</a></li>
                        <li><a href="#"><i class="fa-sharp fa-solid fa-store"></i>Shop</a></li>
                        <li><a href="#"><i class="fa-solid fa-box-archive"></i>Item</a></li>
                        <li><a href="#"><i class="fa-sharp fa-solid fa-shirt"></i>Collections</a></li>
                        <li class="btn"><a href="#">Login</a></li>
                    </ul>
                </nav>
            </header>

            <div class="content">
                <div class="main-text">
                    <h6>#Software Development</h6>
                    <h3>CDTI</h3>
                    <h1>Character</h1>
                    <p>เป็นเว็ปที่สร้างมาเพื่อสร้าง Avater ที่คุณชื่นชอบ</p>
                    <a href="#">Create Character</a>
                </div>

                <div class="social">
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-twitch"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-github"></i></a>
                    <a href="#"><i class="fa-brands fa-discord"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </div>

                <div class="image">
                    <img src="cat.png">
                </div>
            </div>
        </div>
    </section>

</body>

</html>